#top-menu-bar {
  text-align: center;
  background-color: #334455;
  color: #fff;
  margin: 0;
  padding: 0;
}
#top-menu-bar li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#top-menu-bar a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 5px 15px;
  margin: 2px 0;
}
#top-menu-bar a.active,
#top-menu-bar a:hover {
  color: #334455;
  background: #fff;
}
